<% var title = 'Profile' %>
<% include head %>

<body>
<div class="container">

<h2>Profile Page</h2>

	<p>
        <strong>nom</strong>: <%= user.nom %><br>
        <strong>prenom</strong>: <%= user.prenom %><br>
        <strong>email</strong>: <%= user.email %><br>
        <strong>date de naissance</strong>: <%= user.birthdate %><br>
        <strong>ville</strong>: <%= user.ville %><br>
        <strong>telephone</strong>: <%= user.tel %><br>
        <strong>site web</strong>: <%= user.website %><br>
        <strong>sexe</strong>: <%= user.sexe %><br>
        <strong>couleur</strong>: <%= user.couleur %><br>
        <strong>taille</strong>: <%= user.taille %><br>
        <strong>photo</strong>: <%= user.profilepic %><br>
    </p>
    <a href="/">Acceuil</a>
</div>
</body>
</html>
